<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DistilleryCalculator.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3764BDBADD49B914D5219A1BD3DF5EE6F9DB2EBC</string>
				<key>dateExpires</key>
				<string>10/23/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>HD2P3PYVVQ.com.emilsantos.DistilleryCalculator</string>
				<key>com.apple.developer.team-identifier</key>
				<string>HD2P3PYVVQ</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>HD2P3PYVVQ.com.emilsantos.DistilleryCalculator</string>
				</array>
			</dict>
			<key>name</key>
			<string>DistilleryCalculator.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>512564e6-0248-4241-b2e6-4ee5da12a4b5</string>
				<key>name</key>
				<string>XC iOS Ad Hoc: com.emilsantos.DistilleryCalculator</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>HD2P3PYVVQ</string>
				<key>name</key>
				<string>Bently Holdings California, A California Limited Partnership</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
